{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8" style="border: 1px solid #D3D3D3; border-radius:5px">
        <h2>{{ user }}'s preferences</h2>
        {% if user.subscriber.is_subscriber %}
            <form class="navbar-form navbar-left" id="sub_bar" action="/account/unsubscribe" method="post">{% csrf_token %}
                <button type="submit" class="btn btn-primary">Unsubscribe from all taplist preferences</button>
            </form>
            <form action="/account/update_preferences" id="pref" method="post">{% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                I am interested in receiving taplists from these locations:
                            </div>
                            <ul class="list-group">
                                {% for field in pref_form %}
                                <li class="list-group-item">
                                    {{ field.html_name}}
                                    <div class="material-switch pull-right">
                                        {{ field }}
                                        <label for="{{ field.id_for_label }}" class="label-primary">

                                        </label>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-default">Update preferences</button>
                    </div>
                </div>
            </form>
        {% else %}
            <form class="navbar-form navbar-left" id="sub_bar" action="/account/resubscribe" method="post">{% csrf_token %}

                <button type="submit" class="btn btn-primary">Resubscribe to your taplist preferences</button>
            </form>
        {% endif %}

        {% if messages %}
        <div class="row">
            <div class="col-md-12">
                <ul class="messages">
                {% for message in messages %}
                    <li {%if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

    </div>
    <div class="col-md-4">
    </div>
</div>

{% endblock %}