{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% now "Y" as current_year %}

<html ng-app="beerme">
<head>

<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'css/small-business.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'css/checkbox.css' %}" rel="stylesheet" media="screen">

<title>Boise Beer Me!</title>

</head>
{% verbatim %}
<body ng-controller="controller">
<!-- Navigation -->

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <nav class="navbar navbar-inverse navbar-fixed-top">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/home">Home</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    {% endverbatim %}
                    {% if user.is_active %}
                    <form class="navbar-form navbar-right" action="/account/logout" method="post">
                      {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Sign Out</button>
                    </form>
                    <form class="navbar-form navbar-right" action="/account/home" method="post">
                      {% csrf_token %}
                        <button type="submit" class="btn btn-info">Account Home</button>
                    </form>
                    {% else %}
                     <form class="navbar-form navbar-right" action="/account/login" method="post">
                      {% csrf_token %}
                         <a href="/account/signup" class="btn btn-info">Sign Up</a>
                         <div class="form-group">
                            <input id="user_name" name="user_name" type="text" placeholder="Username" class="form-control" maxlength="100" required />
                         </div>
                         <div class="form-group">
                            <input id="user_password" name="user_password" type="password" placeholder="Password" class="form-control" maxlength="100" required />
                         </div>
                         <button type="submit" class="btn btn-success">Sign in</button>
                     </form>
                    {% endif %}
                    {% verbatim %}
                </div><!--/.navbar-collapse -->
              </div>
            </nav>
        </div>
        <!-- /.container -->
    </nav>

        {% endverbatim %}
        {% block banner %}
        {% endblock %}
        {% verbatim %}

    <div class="container">
        {% endverbatim %}
        {% block content %}
        {% endblock %}
        {% verbatim %}
    </div>

{% endverbatim %}
<script src="{% static 'js/angular.min.js' %}"></script>
<script src="{% static 'js/angular-resource.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/services.js' %}"></script>
<script src="{% static 'js/controller.js' %}"></script>
<script src="{% static 'js/bundle.js' %}"></script>

<!-- includes smart-table, angular chart js, and chart js-->
</body>
</html>
