{% extends "base.html" %}

{% block banner %}
<div class="container">
<!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="../static/css/toast_banner.png" alt="">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1>Your Taps. Your City.</h1>
                <p>Boise Beer Me was created so beer enthusiasts can have one landing place for current taplists in Boise, ID.
                     Enjoy the free service of offering you weekly taplists from local Boise locations.</p>
                <p>The tap lists is automatically sent out based on your location preference on Wednesdays at noon. Also feel free to stop by anytime to see the most recent taps.</p>
                {% if user.is_active %}
                <p>
                    <a class="btn btn-primary btn-lg" href="/account/home">Unsubscribe from taplist &raquo;</a>
                </p>
                {% else%}
                <p>
                    <a class="btn btn-primary btn-lg" href="/account/signup">Subscribe to weekly taps &raquo;</a>
                </p>
                {% endif %}
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    Want to post your taplists? Having trouble with your account? Send me a line at jmstjordan@gmail.com, and I'll get you all set up.
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
</div>
<!-- /.row -->
{% endblock %}

{% block content %}
{% verbatim %}
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h2>{{ pieChartHeader }}</h2>
                <canvas id="pieChart" height="275"></canvas>
            </div>
            <div class="col-md-8">
                <h2>{{ barChartHeader }}</h2>
                <canvas id="barChart" height="175"></canvas>
            </div>
        </div>
        <hr>

        <!-- /.row -->
		<table st-table="currentOfferings" st-safe-src="offerings" class="table table-striped">
            <tr>
                <th >Beer</th>
                <th >Location</th>
                <th >Brewery</th>
                <th >Style</th>
                <th >ABV</th>
                <th >IBU</th>
                <th >Date</th>
            </tr>
            <tr>
				<th colspan="12"><input st-search="" class="form-control" placeholder="Search by location, beer, or date" type="text"/></th>
			</tr>
            <!--ng-repeat="offering in filterOfferings = (location.offerings | offeringsFilter:location.offerings)"-->
            <tr ng-repeat="offering in currentOfferings">
                <td>{{offering.beer.name}}</td>
                <td>{{offering.locationName }}</td>
                <td>{{offering.beer.brewery}}</td>
                <td>{{offering.beer.style}}</td>
                <td>{{offering.beer.abv}}</td>
                <td>{{offering.beer.ibu}}</td>
                <td>{{offering.offering_date}}</td>
            </tr>
            <tfoot>
			<tr>
				<td colspan="5" class="text-center">
					<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div>
				</td>
			</tr>
		</tfoot>
        </table>
{% endverbatim %}
{% endblock %}
