{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8" style="border: 1px solid #D3D3D3; border-radius:5px">
        <form action="/account/signup" method="post">{% csrf_token %}
            <h2>Sign up for the weekly taplist email</h2>
            <div class="form-group">
            <label for="user_name">Username:</label>
            <input value="{{ return_values.user_name }}" type="text" class="form-control" name="user_name" id="user_name" maxlength="100" required />
          </div>
          <div class="form-group">
            <label for="user_email">Email address:</label>
            <input value="{{ return_values.email }}" type="email" class="form-control" name="user_email" id="user_email" maxlength="100" required />
          </div>
          <div class="form-group">
            <label for="user_password">Password:</label>
            <input type="password" class="form-control" name="user_password" id="user_password" maxlength="100" required />
          </div>
            <div class="form-group">
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" class="form-control" name="confirm_password" id="confirm_password" maxlength="100" required />
          </div>
          <button type="submit" class="btn btn-default">Sign Up</button>
        </form>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="col-md-4">
    </div>
</div>

{% endblock %}
